bin/
obj/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
*.deps.json
*.runtimeconfig.json
*.dll
*.exe
*.pdb
*.log
*.vs/
.DS_Store
*.swp
Thumbs.db
ehthumbs.db
Desktop.ini
*.mpack
*.bak
*.tmp
*.old